[Unit]
Description=Firefox profile memory cache

[Install]
WantedBy=default.target

[Service]
Restart=always
RestartSec=1800s
ExecStart=%h/.local/bin/firefox-sync.sh %i
ExecStop=%h/.local/bin/firefox-sync.sh %i
