#include ".Xresources.d/gruvbox-colors"

Xft.dpi:       96
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.autohint:  false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

XTerm*background:        _background
XTerm*foreground:        _foreground
XTerm*pointerColor:      #1ABB9B
XTerm*faceName:          Fixed
XTerm*faceSize:          11
XTerm*reverseVideo:      on
XTerm*selectToClipboard: true

*fading:                          8
*fadeColor:                       black
*cursorColor:                     #1ABB9B
*pointerColorBackground:          #2B2C2B
*pointerColorForeground:          #16A085

*background: _background
*foreground: _foreground
*color0: _color0
*color8: _color8
*color1: _color1
*color9: _color9
*color2: _color2
*color10: _color10
*color3: _color3
*color11: _color11
*color4: _color4
*color12: _color12
*color5: _color5
*color13: _color13
*color6: _color6
*color14: _color14
*color7: _color7
*color15: _color15

Xcursor.theme: xcursor-breeze
Xcursor.size:                     0
